@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, /* Full screen without scroll in mobile */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #333;
  color: #fff;
  line-height: 1.7;
  /* Full screen without scroll in web */
  height: 100%;
  width: 100%;
  overflow: hidden; 
  /* Full screen without scroll in web */
}

.slider-container {
  /* Align slide horizontally in inline-level(default, flex-direction: row) */
  display: inline-flex;
  /* Align slide horizontally in inline-level(default, flex-direction: row) */
  /* Full screen */
  height: 100vh;
  /* Full screen */
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.slide img {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.grabbing {
    cursor: grabbing;
}
  
.grabbing .slide img {
    transform: scale(0.9);
}
  
.slide h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.slide h4 {
    font-size: 1.5rem;
}

.btn {
    text-decoration: none;
    background-color: #444444;
    color: #ffffff;
    padding: 1rem 1.5rem;
}



